@font-face {
    font-family: 'sptfont'; /* Project id 3443126 */
    src:
        url('iconfont.woff2?t=1742888896363') format('woff2'),
        url('iconfont.woff?t=1742888896363') format('woff'),
        url('iconfont.ttf?t=1742888896363') format('truetype');
}

.sptfont {
    font-family: 'sptfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sptfont-compliance:before {
    content: '\e68b';
}

.sptfont-navBrand:before {
    content: '\e689';
}

.sptfont-navBrand-fill:before {
    content: '\e68a';
}

.sptfont-sendComment:before {
    content: '\e688';
}

.sptfont-calculator:before {
    content: '\e685';
}

.sptfont-more:before {
    content: '\e686';
}

.sptfont-less:before {
    content: '\e687';
}

.sptfont-edit:before {
    content: '\e684';
}

.sptfont-user:before {
    content: '\e683';
}

.sptfont-OrderType:before {
    content: '\e682';
}

.sptfont-multiplication:before {
    content: '\e67f';
}

.sptfont-equal:before {
    content: '\e680';
}

.sptfont-division:before {
    content: '\e681';
}

.sptfont-globe:before {
    content: '\e67c';
}

.sptfont-AD:before {
    content: '\e67d';
}

.sptfont-structure:before {
    content: '\e67e';
}

.sptfont-open:before {
    content: '\e67b';
}

.sptfont-Performance1-fill:before {
    content: '\e679';
}

.sptfont-Performance1:before {
    content: '\e67a';
}

.sptfont-seal:before {
    content: '\e677';
}

.sptfont-seal-fill:before {
    content: '\e678';
}

.sptfont-warning:before {
    content: '\e671';
}

.sptfont-PD:before {
    content: '\e672';
}

.sptfont-coupon:before {
    content: '\e673';
}

.sptfont-LD:before {
    content: '\e674';
}

.sptfont-BD:before {
    content: '\e675';
}

.sptfont-bell:before {
    content: '\e676';
}

.sptfont-checked1:before {
    content: '\e670';
}

.sptfont-draggable:before {
    content: '\e66f';
}

.sptfont-Pushpin_pined:before {
    content: '\e66e';
}

.sptfont-tax:before {
    content: '\e66d';
}

.sptfont-settlement:before {
    content: '\e669';
}

.sptfont-voucher-fill:before {
    content: '\e66a';
}

.sptfont-voucher:before {
    content: '\e66b';
}

.sptfont-settlement-fill:before {
    content: '\e66c';
}

.sptfont-a-Frame1010108726:before {
    content: '\e668';
}

.sptfont-a-Frame1010108724:before {
    content: '\e666';
}

.sptfont-a-Frame1010108725:before {
    content: '\e667';
}

.sptfont-Amazon:before {
    content: '\e665';
}

.sptfont-contact-fill:before {
    content: '\e664';
}

.sptfont-contact:before {
    content: '\e663';
}

.sptfont-a-Component6:before {
    content: '\e660';
}

.sptfont-a-Component9:before {
    content: '\e661';
}

.sptfont-a-Component10:before {
    content: '\e662';
}

.sptfont-task:before {
    content: '\e65f';
}

.sptfont-filter:before {
    content: '\e65e';
}

.sptfont-Frame:before {
    content: '\e65c';
}

.sptfont-Frame-1:before {
    content: '\e65d';
}

.sptfont-tenant-fill:before {
    content: '\e652';
}

.sptfont-application:before {
    content: '\e653';
}

.sptfont-tenant:before {
    content: '\e654';
}

.sptfont-organization-fill:before {
    content: '\e655';
}

.sptfont-account-fill:before {
    content: '\e656';
}

.sptfont-application-fill:before {
    content: '\e657';
}

.sptfont-permossions:before {
    content: '\e658';
}

.sptfont-organization:before {
    content: '\e659';
}

.sptfont-account:before {
    content: '\e65a';
}

.sptfont-permossions-fill:before {
    content: '\e65b';
}

.sptfont-like-outline:before {
    content: '\e648';
}

.sptfont-dislike-outline:before {
    content: '\e649';
}

.sptfont-like-fill:before {
    content: '\e64a';
}

.sptfont-dislike-fill:before {
    content: '\e64b';
}

.sptfont-kuaijierukou:before {
    content: '\e651';
}

.sptfont-relation:before {
    content: '\e650';
}

.sptfont-receiveMessage:before {
    content: '\e64c';
}

.sptfont-brand:before {
    content: '\e64d';
}

.sptfont-contract:before {
    content: '\e64e';
}

.sptfont-approval:before {
    content: '\e64f';
}

.sptfont-shouqi:before {
    content: '\e647';
}

.sptfont-guanggao:before {
    content: '\e645';
}

.sptfont-guanggao-fill:before {
    content: '\e646';
}

.sptfont-Reply:before {
    content: '\e643';
}

.sptfont-Forward:before {
    content: '\e644';
}

.sptfont-sas:before {
    content: '\e641';
}

.sptfont-sas-fill:before {
    content: '\e642';
}

.sptfont-PingPong:before {
    content: '\e63f';
}

.sptfont-yinhangka:before {
    content: '\e640';
}

.sptfont-zhishiku:before {
    content: '\e638';
}

.sptfont-expand:before {
    content: '\e639';
}

.sptfont-send:before {
    content: '\e63a';
}

.sptfont-zhishiku-fill:before {
    content: '\e63b';
}

.sptfont-Star_half:before {
    content: '\e63c';
}

.sptfont-shrink:before {
    content: '\e63d';
}

.sptfont-fasongwenjian:before {
    content: '\e63e';
}

.sptfont-gengduo:before {
    content: '\e637';
}

.sptfont-fanyi:before {
    content: '\e635';
}

.sptfont-wenti:before {
    content: '\e636';
}

.sptfont-drawerClose:before {
    content: '\e634';
}

.sptfont-badgeNew:before {
    content: '\e633';
}

.sptfont-checked:before {
    content: '\e632';
}

.sptfont-discount:before {
    content: '\e631';
}

.sptfont-signature_stamp:before {
    content: '\e630';
}

.sptfont-Performance-fill:before {
    content: '\e62e';
}

.sptfont-Performance:before {
    content: '\e62f';
}

.sptfont-zuo:before {
    content: '\e62a';
}

.sptfont-jianxiang:before {
    content: '\e62b';
}

.sptfont-you:before {
    content: '\e62c';
}

.sptfont-zengxiang:before {
    content: '\e62d';
}

.sptfont-shishishuju-xuanzhong:before {
    content: '\e629';
}

.sptfont-shishishuju:before {
    content: '\e628';
}

.sptfont-kuaidi:before {
    content: '\e626';
}

.sptfont-jizhuangxiang:before {
    content: '\e627';
}

.sptfont-banking-fill:before {
    content: '\e624';
}

.sptfont-banking:before {
    content: '\e625';
}

.sptfont-Excel:before {
    content: '\e61e';
}

.sptfont-Word:before {
    content: '\e61f';
}

.sptfont-yasuowenjian:before {
    content: '\e620';
}

.sptfont-PPT:before {
    content: '\e621';
}

.sptfont-qitageshi:before {
    content: '\e622';
}

.sptfont-PDF:before {
    content: '\e623';
}

.sptfont-setting-fill:before {
    content: '\e602';
}

.sptfont-setting:before {
    content: '\e61d';
}

.sptfont-menu-logo:before {
    content: '\e604';
}

.sptfont-report:before {
    content: '\e605';
}

.sptfont-finance-fill:before {
    content: '\e606';
}

.sptfont-finance:before {
    content: '\e607';
}

.sptfont-member:before {
    content: '\e608';
}

.sptfont-member-fill:before {
    content: '\e609';
}

.sptfont-warehouse:before {
    content: '\e60a';
}

.sptfont-warehouse-fill:before {
    content: '\e60b';
}

.sptfont-merchandising:before {
    content: '\e60c';
}

.sptfont-report-fill:before {
    content: '\e60d';
}

.sptfont-log-fill:before {
    content: '\e60e';
}

.sptfont-customer-service:before {
    content: '\e60f';
}

.sptfont-order:before {
    content: '\e610';
}

.sptfont-shipment-fill:before {
    content: '\e611';
}

.sptfont-order-fill:before {
    content: '\e612';
}

.sptfont-merchandising-fill:before {
    content: '\e613';
}

.sptfont-shipment:before {
    content: '\e614';
}

.sptfont-product-fill:before {
    content: '\e615';
}

.sptfont-product:before {
    content: '\e616';
}

.sptfont-business-fill:before {
    content: '\e617';
}

.sptfont-dashboard-fill:before {
    content: '\e618';
}

.sptfont-customer-service-fill:before {
    content: '\e619';
}

.sptfont-log:before {
    content: '\e61a';
}

.sptfont-dashboard:before {
    content: '\e61b';
}

.sptfont-business:before {
    content: '\e61c';
}

.sptfont-logo-brand:before {
    content: '\e603';
}

.sptfont-company:before {
    content: '\e600';
}

.sptfont-link:before {
    content: '\e601';
}
