.permission-denied-wrap {
    height: 100%;
    padding: 24px;
    .permission-denied-container {
        height: 100%;
        background: #fff;
        .permission-denied-content {
            margin: 0 auto;
            padding-top: 100px;
            text-align: center;
            .permission-denied-img {
                margin: 0 auto;
            }
            .permission-denied-title {
                margin-bottom: 12px;
                font-size: 16px;
                line-height: 22px;
            }
            .permission-denied-help-msg {
                line-height: 24px;
                color: rgba(156, 163, 175, 1);
            }
            .permission-denied-button {
                margin-top: 24px;
            }
        }
    }
}
