.server-error-container {
    height: 100%;
    padding: 24px;
    .server-error-content {
        height: 100%;
        background: #fff;
        .server-error-wrap {
            margin: 0 auto;
            padding-top: 100px;
            text-align: center;
            .server-error-img {
                margin: 0 auto;
            }
            .server-error-title {
                margin-bottom: 12px;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
            }
            .server-error-help-msg {
                line-height: 24px;
                color: rgba(156, 163, 175, 1);
            }
            .server-error-button {
                margin-top: 24px;
            }
        }
    }
}
